



.boxserchandicon{
display: flex;
flex-direction: row;
}

.serchfield{
  max-width: "200px";
  max-height: "30px"
}

.serchfieldxsscreen{
 margin-left: -1rem;
 margin-top: -0.5rem;
}


@media (max-width: 900px){

  .logga{
   
  }
}