@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 700px;
  background-color: grey;
  background-image: url(../src/images/img-placeholder.webp);

  background-position: center;

  /* background-repeat: no-repeat; */

  /* background-size: cover; */

  /* position: relative; */
}

.boxserchandicon {
  display: flex;
  flex-direction: row;
}

.serchfield {
  max-width: "200px";
  max-height: "30px";
}

.serchfieldxsscreen {
  margin-left: -1rem;
  margin-top: -0.5rem;
}

@media (max-width: 900px) {
  .logga {
  }
}
