@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 700px;
  background-color: grey;
  background-image: url(../src/images/img-placeholder.webp);

  background-position: center;

  /* background-repeat: no-repeat; */

  /* background-size: cover; */

  /* position: relative; */
}

.boxserchandicon {
  display: flex;
  flex-direction: row;
}

.serchfield {
  max-width: "200px";
  max-height: "30px";
}

.serchfieldxsscreen {
  margin-left: -1rem;
  margin-top: -0.5rem;
}

/* forms */
.container-form {
  background-color: rgb(223, 223, 220);
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 5;
  border-radius: 1;
  margin-bottom: 6rem;
  margin-top: 6rem;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-box {
  margin-top: 3;
  display: flex;
  flex-direction: column;
  gap: 1, 5;
  font-size: 3;
}
input,
select,
button,
textarea {
  height: 2rem;
  border-radius: 1;
}

.submitButton:hover{
  color: white;
  background-color: black;
  
}

.categoriescard:hover {
  opacity: 0.5;
  cursor: pointer;
}
.allProductsImg:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 900px) {
  .logga {
  }
}

.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.container h3 {
  text-align: left;
  margin-left: 0.4rem;
}

.col-md-3 {
  white-space: 10px;
}

.carousel-item img {
  max-width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: rgb(0, 0, 0);
  margin-left: -230px;
}

.heart-icon {
  position: absolute;
  bottom: 60px;
  right: 40px;
  margin: 8px;
  font-size: 30px;
  pointer-events: auto;
  color: white; /* set the color of the heart to white */
}

.stronger {
  font-size: 22px;
}

.carousel-indicators li {
  background-color: rgba(
    100,
    99,
    99,
    0.5
  ); /* set the background color of the indicators to semi-transparent white */
  margin-bottom: -70px;
}

.carousel-indicators .active {
  background-color: #0a0a0a; /* set the background color of the active indicator to white */
}

/* .title {
  background-color: rgb(235, 237, 237);
} */

.heart-icon:hover {
  color: red;
  cursor: pointer;
}
.heart-icon2 {
  position: absolute;
  bottom: 100px;
  right: 70px;
  margin: 8px;
  color: aliceblue;
  font-size: 30px;
  pointer-events: auto;
}
.cursor-container {
  pointer-events: none;
}

.carousel-control-next-icon {
  position: relative;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 1;
}

.carousel-control-next {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 2;
}

.carousel-item .px-2 img:hover {
  opacity: 0.5;
  cursor: pointer;
}
